h1
{
    margin-bottom: 2.5%; 
    margin-top: 2.5%;
}

input
{
    margin-bottom: 2.5%;
}
body {
    background-color: #f5f5f5;
}
.nav-link
{
    color: black;
}
.fade-in-image { animation: fadeIn 2s; }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.fade-in-text {
    font-family: Arial;
    font-size: 50px;
    animation: fadeIn 3s;
  }
.fade-in-text2 {
    font-family: Arial;
    font-size: 15px;
    animation: fadeIn 3s;
  }
  
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  
