<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
    <div class="container">
        <h1 style="text-align: center;">About the Developers</h1>
        <h6 style="text-align:center; padding-bottom: 1%;">This Project was made for CSCI: 3308 (Software Development and Tools) at University of Colorado Boulder</h6>
        <div class="container py-1" style="width: 75%;">
            <div class="row">
                <div class="col-sm py-2 px-2">
                    <div class="d-flex justify-content-center">
                        <div class="card" style="width: 18rem; height: 6.5rem;">
                            <div class="card-body">
                                <h5 class="card-title">Vincent Bowen</h5>
                                <p class="card-text">Major: Computer Science
                                    <br>Minor: Political Science
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm py-2 px-2">
                    <div class="d-flex justify-content-center">
                        <div class="card" style="width: 18rem; height: 6.5rem;">
                            <div class="card-body">
                                <h5 class="card-title">Ethan McAleavy</h5>
                                <p class="card-text">Major: Computer Science</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm py-2 px-2">
                    <div class="d-flex justify-content-center">
                        <div class="card" style="width: 18rem; height: 6.5rem;">
                            <div class="card-body">
                                <h5 class="card-title">Neil Patel</h5>
                                <p class="card-text">Major: Computer Science
                                    <br>Minor: Economics
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm py-2 px-2">
                    <div class="d-flex justify-content-center">
                        <div class="card" style="width: 18rem; height: 6.5rem;">
                            <div class="card-body">
                                <h5 class="card-title">Zane Perry</h5>
                                <p class="card-text">Major: Computer Science</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm py-2 px-2">
                    <div class="d-flex justify-content-center">
                        <div class="card" style="width: 18rem; height: 6.5rem;">
                            <div class="card-body">
                                <h5 class="card-title">Kyle Steinsvaag</h5>
                                <p class="card-text">Major: Computer Science</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm py-2 px-2">
                    <div class="d-flex justify-content-center">
                        <div class="card" style="width: 18rem; height: 6.5rem;">
                            <div class="card-body">
                                <h5 class="card-title">Owen Allison</h5>
                                <p class="card-text">Major: Computer Science
                                    <br>Minor: Electrical Engineering
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include ('../partials/footer') %>