<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
    <div class="container contactUs">
        <h1 style="text-align: center;">Contact the Developers</h1>
        <div class="row" style="text-align: center; padding: 1%;">
            <div class="col">
                <a href="mailto:vincent.bowen@colorado.edu">Vincent Bowen</a>
            </div>
            <div class="col"> 
                <a href="mailto: owal7428@colorado.edu">Owen Allison</a>
            </div>
            <div class="col">
                <a href="mailto:nepa2887@colorado.edu">Neil Patel</a>
            </div>
        </div>
        <div class="row" style="text-align: center; padding: 1%;">
            <div class="col">
                <a href="mailto:etmc8372@colorado.edu ">Ethan McAleavy</a>
            </div>
            <div class="col">
                <a href="mailto: kyle.steinsvaag@colorado.edu">Kyle Steinsvaag</a>
            </div>
            <div class="col">
                <a href="mailto:zane.perry@colorado.edu">Zane Perry</a>
            </div>
        </div>
    </div>
<%- include ('../partials/footer') %>