<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
    <main>
        <div class="p-3 mb-2 bg-secondary text-black">
        <div class="container pb-4">
            <div class="row align-items-center">
            <div class="container py-1" style= "position:relative; top: 150px; right:80px;">
                <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
                    <h1>Welcome To Airfare Affairs</h1>
                    <p>Your dream vacation awaits. Book now and save hundreds of hours planning!</p> 
                </div>
            </div>
                <div class="col-3">
                    <div class="d-flex justify-content-center">
                        <div class="container py-1" style= "position:relative; top: 200px; right:100px;">
                        <form action="/register" method="POST">
                            <button type="submit" class="btn btn-primary" id="submit_button">Sign Up For Free!</button>
                        </form>
                    </div>
                    </div>
                </div>
                <div class="col-1" >
                    <div class="d-flex justify-content-center">
                        <div class="container py-1" style= "position:relative; top: 200px; right: 220px;">
                        <form action="/login" method="POST">
                            <button type="submit" class="btn btn-primary" id="submit_button">Login</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container py-1" style="width: 65%; position:relative; left: 400px; top: -100px;">
                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item">
                        <img src="images/luca-bravo-O453M2Liufs-unsplash.jpg" class="d-block w-100 rounded" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Plan the Trip of Your Dreams</h5>
                        </div>
                        </div>
                        <div class="carousel-item active">
                        <img src="images/david-marcu-78A265wPiO4-unsplash.jpg" class="d-block w-100 rounded" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Where Adventure Awaits</h5>
                        </div>
                        </div>
                        <div class="carousel-item">
                        <img src="images/andrew-palmer-_1REcmACJaQ-unsplash.jpg" class="d-block w-100 rounded" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>You Deserve a Vacation</h5>
                        </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>    
          </div>      
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../resources/images/location_pin_007.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </main>
<%- include ('../partials/footer') %>