<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>

<main>
    <div class="container">
        <h1>Main</h1>
    </div>
</main>

<%- include ('../partials/footer') %>
