<%- include ('../partials/header') %>
<%- include ('../partials/LogoOnlyMenu') %>

<main>
  <div class="container">
    <h1>Register</h1>

    <!-- Alert message -->
    <div class="container">
        <%- include ('../partials/message.ejs') %>
    </div>

    <!-- Registration Form -->
    <form action="/register" method="POST">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="username">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password">
      <button type="submit" class="btn btn-primary" id="submit_button">Register</button>
    </form>
    <p style="margin-bottom: 2.5%; margin-top: 2.5%">Already have an accout? <a href="login">Login.</a></p>
  </div> 
</main>

<%- include ('../partials/footer') %>
