<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/landing">AirfareAffairs</a>
        <ul class="navbar-nav me-auto" id="navbar-list">
    </div>
  </nav>